/* ---------- Buttons ---------- */
#berufeContentButtons {
    width: 15%;
}

#berufeContentDay, #berufeContentImport, #berufeContentRemove {
    margin: .5vh 0 0 0;
    background: rgb(50, 50, 50);
    height: 3.5vh;
}

#berufeError {
    display: none;
}

#berufeError.error {
    display: block;
}
